* {
  margin: 0px;
  padding: 0px;
}

body {
  display: flex;
  flex-direction: column;
  background-color: rgba(216, 252, 255, 0.345);
  height: 100vh;
}

.bold {
  font-weight: bold;
}

.header__marca {
  color: rgb(255, 255, 255);
  font-size: 2rem;
  margin: 0px 0px 0px 0px;
  font-family: "Montserrat", sans-serif, "Regular 400";
}

.nav__flex {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  list-style: none;
  height: 100%;
}
.nav__flex li :hover {
  color: rgb(29, 0, 0);
  box-shadow: 0 4px 16px rgb(16, 131, 255);
  transition: all 0.2s ease;
}
.nav__flex li :active {
  background-color: #47BAEC;
  color: white;
  transition: all 0.2s ease;
}
.nav__flex li a {
  border-radius: 5px;
  color: black;
  text-decoration: none;
  padding: 5px;
  border: 2px solid #fbfeff;
  background-color: white;
}

header {
  display: flex;
  background-color: rgb(71, 186, 236);
  height: 15vh;
  justify-content: space-between;
  flex-wrap: wrap;
  flex-direction: row;
  align-items: center;
}

nav {
  background-color: rgb(71, 186, 236);
  font-size: 1.3rem;
  height: 7vh;
  width: 50vw;
  font-family: "Montserrat", sans-serif, "Regular 400";
}

main {
  height: 100%;
}

.footer {
  background-color: rgb(71, 186, 236);
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 12vh;
  justify-content: center;
  position: relative;
  bottom: 0;
  color: white;
}

.footer__flex {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 12vh;
  flex-wrap: wrap;
}

.footer__title {
  font-size: 1.5rem;
  font-family: "Montserrat", sans-serif, "Regular 400";
}

.footer__flex__div {
  display: flex;
  width: 70vw;
  justify-content: space-between;
}
.footer__flex__div a {
  text-decoration: none;
  color: white;
  font-family: "Montserrat", sans-serif, "Regular 400";
  width: 35%;
}

.footer__div__soporte {
  text-align: end;
}

.footer__div__mantenimiento {
  text-align: start;
}

.header__flex {
  display: flex;
  align-items: center;
  height: 15vh;
  font-family: "Montserrat", sans-serif, "Regular 400";
}

.header__logo {
  -o-object-fit: contain;
     object-fit: contain;
  width: 75px;
  height: 75px;
}

.header__logo__link {
  width: 75px;
  height: 75px;
  margin: 15px;
}

.footer__border {
  width: 100%;
}

.index__main__flex {
  background-position: -100px -330px;
  background-image: url("../recursos/images/fondo1.jpg");
  background-repeat: no-repeat;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.index__main__section {
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 15px;
  padding: 0px 0px 20px 0px;
  margin: 100px 0px 0px 0px;
  width: 70vw;
  height: auto;
  background-color: aliceblue;
}

.index__main__section__titulo {
  text-align: center;
  padding: 20px 0px 12px 0px;
  font-family: "Montserrat", sans-serif, "Regular 400";
}

.index__main__aside__titulo {
  text-align: center;
  font-family: "Montserrat", sans-serif, "Regular 400";
}

.index__main__aside__titulo2 {
  text-align: center;
  font-family: "Montserrat", sans-serif, "Regular 400";
}

.index__main__section__parrafo {
  padding: 0px 0px 15px 0px;
  width: 70%;
  text-align: center;
  font-family: "Montserrat", sans-serif, "Extra light 200 Italic";
  font-weight: 200;
}

.index__main__aside {
  display: flex;
  flex-direction: row;
  width: 65vw;
  margin: 20px 0px 0px 0px;
}

.index__main__aside__parrafo {
  border-radius: 15px;
  padding: 20px 20px 15px 20px;
  margin: 0px 20px 0px 20px;
  width: 50%;
  height: auto;
  background-color: aliceblue;
  text-align: center;
  font-family: "Montserrat", sans-serif, "Extra light 200 Italic";
  font-weight: 200;
}
.index__main__aside__parrafo p {
  margin: 15px 0px 15px 0px;
}

.index__main__aside__parrafo2 {
  border-radius: 15px;
  padding: 20px 20px 15px 20px;
  margin: 0px 20px 0px 20px;
  width: 50%;
  height: auto;
  background-color: aliceblue;
  text-align: center;
  font-family: "Montserrat", sans-serif, "Extra light 200 Italic";
  font-weight: 200;
}
.index__main__aside__parrafo2 p {
  margin: 15px 0px 15px 0px;
}

.herYmat__main__flex {
  display: flex;
  justify-content: space-around;
}

.herYmat__form__subida {
  text-align: center;
  width: 40vw;
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif, "Regular 400";
  margin: 40px 0px 40px 0px;
  height: 70vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(222, 248, 255);
  border: 2px solid black;
}

.herYmat__main__select__sede {
  text-align: center;
  width: 35vw;
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif, "Regular 400";
  margin: 25px 0px 10px 0px;
}

.herYmat__main__datosUsuario {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.herYmat__main__datosUsuario input {
  text-align: center;
  margin: 10px 0px 10px 0px;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif, "Regular 400";
  width: 32vw;
  height: 25px;
}

.herYmat__main__botones :hover {
  color: rgb(29, 0, 0);
  box-shadow: 0 4px 16px rgb(173, 212, 255);
  transition: all 0.2s ease;
}
.herYmat__main__botones :active {
  background-color: rgb(45, 185, 245);
  color: white;
  transition: all 0.2s ease;
}
.herYmat__main__botones input {
  border: 1.5px solid black;
  background-color: white;
  padding: 5px 3px 5px 3px;
  margin: 10px 5px 30px 5px;
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif, "Regular 400";
  width: 10vw;
}

.herYmat__form__bajada {
  text-align: center;
  width: 40vw;
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif, "Regular 400";
  margin: 40px 0px 40px 0px;
  height: 7 0vh;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(222, 248, 255);
  border: 2px solid black;
}

.herYmat__form__title {
  margin: 25px 0px 0px 0px;
  font-family: "Montserrat", sans-serif, "Regular 400";
  font-size: 2rem;
}

.herYmat__form__stock {
  width: 40vw;
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif, "Regular 400";
  margin: 40px 0px 40px 0px;
  height: auto;
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-around;
  background-color: rgb(222, 248, 255);
  border: 2px solid black;
}

.herYmat__aside__datosUsuario {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
}
.herYmat__aside__datosUsuario input {
  text-align: center;
  margin: 10px 0px 10px 0px;
  font-size: 1rem;
  font-family: "Montserrat", sans-serif, "Regular 400";
  width: 32vw;
  height: 25px;
}

.herYmat__aside__botones :hover {
  color: rgb(29, 0, 0);
  box-shadow: 0 4px 16px rgb(173, 212, 255);
  transition: all 0.2s ease;
}
.herYmat__aside__botones :active {
  background-color: rgb(45, 185, 245);
  color: white;
  transition: all 0.2s ease;
}
.herYmat__aside__botones input {
  border: 1.5px solid black;
  background-color: white;
  padding: 5px 3px 5px 3px;
  margin: 10px 5px 30px 5px;
  font-size: 1.2rem;
  font-family: "Montserrat", sans-serif, "Regular 400";
  width: 10vw;
}

.herYmat__aside__flex {
  display: flex;
  justify-content: center;
}

.registros__main__section__titulo {
  margin: 25px 10px 15px 10px;
  font-family: "Montserrat", sans-serif, "Regular 400";
  display: flex;
  justify-content: center;
}

.registros__table {
  text-align: center;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}
.registros__table tr:nth-child(odd) {
  background: rgb(197, 237, 255);
}
.registros__table tr:nth-child(even) {
  background: rgb(162, 227, 255);
}
.registros__table tr th {
  background: rgb(141, 221, 255);
  text-align: center;
  font-family: "Montserrat", sans-serif, "Regular 400";
  font-size: 1.2rem;
  padding: 10px 10px 10px 10px;
  border-bottom: solid 2px black;
}
.registros__table tr td {
  text-align: center;
  font-family: "Montserrat", sans-serif, "Regular 200";
  padding: 8px 10px 8px 10px;
  font-size: 1.1rem;
}

.stock__main__section__titulo {
  margin: 25px 10px 15px 10px;
  text-align: center;
  font-family: "Montserrat", sans-serif, "Regular 400";
}

.stock__table {
  text-align: center;
  border-collapse: collapse;
  margin-left: auto;
  margin-right: auto;
}
.stock__table tr:nth-child(odd) {
  background: rgb(197, 237, 255);
}
.stock__table tr:nth-child(even) {
  background: rgb(162, 227, 255);
}
.stock__table tr th {
  background: rgb(141, 221, 255);
  text-align: center;
  font-family: "Montserrat", sans-serif, "Regular 400";
  font-size: 1.2rem;
  padding: 10px 10px 10px 10px;
  border-bottom: solid 2px black;
}
.stock__table tr td {
  text-align: center;
  font-family: "Montserrat", sans-serif, "Regular 200";
  padding: 8px 10px 8px 10px;
  font-size: 1.1rem;
}/*# sourceMappingURL=main.css.map */