* {
    margin: 0px;
    padding: 0px;
}
body{
    display: flex;
    flex-direction: column;
    background-color: rgba(216, 252, 255, 0.345);
    height: 100vh;
}
.bold {
    font-weight: bold;
}
.header__marca{
    color: rgb(255, 255, 255);
    font-size: 2rem;
    margin: 0px 0px 0px 0px;
    font-family:'Montserrat', sans-serif, "Regular 400";
}
.nav__flex {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    list-style: none;
    height: 100%;
    li {
        :hover {
            color: rgb(29, 0, 0);
            box-shadow: 0 4px 16px rgb(16, 131, 255);
            transition: all 0.2s ease;
        }
        :active {
            background-color: #47BAEC;
            color: white;
            transition: all 0.2s ease;
        }
        a {
            border-radius: 5px;
            color: black;
            text-decoration: none;
            padding: 5px;
            border: 2px solid #fbfeff;
            background-color: white;
        }
    }
}
header {
    display: flex;
    background-color: rgb(71, 186, 236);
    height:15vh;
    justify-content: space-between;
    flex-wrap: wrap;
    flex-direction: row;
    align-items: center;
}
nav {
    background-color: rgb(71, 186, 236);
    font-size: 1.3rem;
    height: 7vh;
    width: 50vw;
    font-family: 'Montserrat', sans-serif, "Regular 400";
}
main {
    height: 100%;
}
.footer {
    background-color: rgb(71, 186, 236);
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 12vh;
    justify-content: center;
    position: relative;
    bottom: 0;
    color: white;
}
.footer__flex {
    display: flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 12vh;
    flex-wrap: wrap;
}
.footer__title{
    font-size: 1.5rem;
    font-family: 'Montserrat', sans-serif, "Regular 400";
}
.footer__flex__div{
    display: flex;
    width: 70vw;
    justify-content: space-between;
    a{
        text-decoration: none;
        color: white;
        font-family: 'Montserrat', sans-serif, "Regular 400";
        width: 35%;
    }
}
.footer__div__soporte{
    text-align: end;
}
.footer__div__mantenimiento{
    text-align: start;
}
.header__flex {
    display: flex;
    align-items: center;
    height: 15vh;
    font-family: 'Montserrat', sans-serif, "Regular 400";
}
.header__logo {
    object-fit: contain;
    width: 75px;
    height: 75px;
}
.header__logo__link {
    width: 75px;
    height: 75px;
    margin: 15px;
}
.footer__border {
    width: 100%;
}